<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Panel</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../static/dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../static/dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../static/dashboard/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../static/dashboard/vendors/ti-icons/css/themify-icons.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/dashboard/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/dashboard/images/favicon.png" />
  
  
</head>
<body>
  <div class="container-scroller">
  
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="/login">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
            
          </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Add cZone</span>
			  
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/czone">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Total cZone</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Tusers">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Total Users</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
			
			
			
			
			<table> 
				<thead> 
				<tr> 
					<th>Name</th> 
					<th> Email</th> 
					<th> Location</th>
				</tr> 
				</thead> 
				<tbody> 
					{% for row in value %}  
						<tr> 
							<td>{{row[1]}}</td> 
							<td> {{row[2]}}</td> 
							<td> {{row[6]}}</td>
						</tr> 
					{% endfor %} 
				</tbody> 
			</table><br><br><br>
			<h4><b>Alert them!</b></h4>
			<form action="/Tusers" method="POST" class="Tusers-form" id="Tusers-form">
			<label for="rads">Enter the Email:</label>
			<input type="text" id="email" name="email"><br>
			<input type="submit" name="submit" id="submit" class="form-submit" value="Send Mail"/>
			<p id="demo"></p><br>

			
			
			</form>
			<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  
  <!-- container-scroller -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Cf85fxaH7ID23d7BF5dSjVkoMYHsnkM&callback=initMap"
		type="text/javascript"></script>
  <!-- plugins:js -->
  <script src="../static/dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../static/dashboard/js/off-canvas.js"></script>
  <script src="../static/dashboard/js/hoverable-collapse.js"></script>
  <script src="../static/dashboard/js/template.js"></script>
  <!-- endinject -->
</body>

</html>

